<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615097982535-e7uodj7e3qi27i7h4s767vb1cej5df2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615097982535-e7uodj7e3qi27i7h4s767vb1cej5df2l</string>
	<key>API_KEY</key>
	<string>AIzaSyByrMH1Bgm_Thz72jrchIOucSxykLeMzF8</string>
	<key>GCM_SENDER_ID</key>
	<string>615097982535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Thanh-Trung-Son.final-proj</string>
	<key>PROJECT_ID</key>
	<string>cs490-final</string>
	<key>STORAGE_BUCKET</key>
	<string>cs490-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615097982535:ios:c88cfed423303271f79b62</string>
</dict>
</plist>